<style>
  .my-drop-zone { border: dotted 3px lightgray; }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  .another-file-over-class { border: dotted 3px green; }
  html, body { height: 100%; }
</style>

<div class="container">

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href>Декларация</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">

      <h3>Выберите файл</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
        Base drop zone
      </div>

      <div ng2FileDrop
           [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
           (fileOver)="fileOverAnother($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
        Another drop zone
      </div>

      Множественная загрузка
      <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

      Одиночная
      <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

      <h3>Очередь загрузки</h3>
      <p>Файлов в очереди: {{ uploder?.queue?.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Имя файла</th>
          <th>Статус</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs"
                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Загрузить
            </button>
            <button type="button" class="btn btn-warning btn-xs"
                    (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Отмена
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Удалить
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <div>
          Прогресс очереди:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Загрузить все
        </button>
        <button type="button" class="btn btn-warning btn-s"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Отменить все
        </button>
        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Удалить все
        </button>
      </div>

    </div>

  </div>

</div>

<ng2-smart-table [settings]="settings" [source]="declarations"></ng2-smart-table>

<!--<div>-->
  <!--<div *ngFor="let declaration of declarations">-->
    <!--<div class="col-md-2">-->
      <!--<p>id пользователя: {{declaration?.id}}</p>-->
      <!--<p>Колво: {{declaration?.Quantity}}</p>-->
      <!--<p>АлкоКод: {{declaration?.AlcCode}}</p>-->
      <!--<p>Fsrar: {{declaration?.FSRAR}}</p>-->
      <!--<p>Ид записи: {{declaration?.RestsShopMini_id}}</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
