<div class="page-content">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar content-box" style="display: block;">
          <ul class="nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="">Главная</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/users">Users</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/declaration">Declarations</a>
            </li>
          </ul>
      </div>
    </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</div>
