<div>
  <div *ngFor="let user of users">
    <div class="col-md-2">
    <p>id пользователя: {{user?.id}}</p>
    <p>логин пользователя: {{user?.login}}</p>
    <p>Пароль: {{user?.password}}</p>
    <p>имя: {{user?.firstName}}</p>
    <p>фамилия: {{user?.lastName}}</p>
    <p>отчество: {{user?.middleName}}</p>
    <p>роль: {{user?.role}}</p>
    <p>отдел: {{user?.departament}}</p>
    <p>активен? : {{user?.active}}</p>
    </div>
  </div>
</div>
